[package]
name = "ron_to_table"
version = "0.2.0"
edition = "2018"
authors = ["Maxim Zhiburt <zhiburt@gmail.com>"]
repository = "https://github.com/zhiburt/tabled"
homepage = "https://github.com/zhiburt/tabled"
documentation = "https://docs.rs/ron_to_table"
keywords = ["table", "print", "pretty-table", "format", "ron"]
categories = ["text-processing", "visualization"]
readme = "README.md"
description = "A library for pretty print RON as a table"
license = "MIT"

[features]
color = ["tabled/color"]

[dependencies]
ron = "0.8"
tabled = { version = "0.12", features = ["std"], default-features = false }
