[package]
name = "static_table"
version = "0.1.0"
authors = ["Maxim Zhiburt <zhiburt@gmail.com>"]
edition = "2018"
description = "Derive macros which is used by tabled crate"
repository = "https://github.com/zhiburt/tabled"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
tabled = { path = "../tabled", features = ["std"], default-features = false }
syn = { version = "1", features = ["full"] }
quote = "1"
proc-macro2 = "1"
proc-macro-error = "1.0.4"
