[package]
name = "papergrid"
version = "0.7.1"
authors = ["Maxim Zhiburt <zhiburt@gmail.com>"]
edition = "2018"
description = "Papergrid is a core library to print a table"
repository = "https://github.com/zhiburt/tabled"
license = "MIT"

[features]
default = ["std"]
std = []
color = ["ansi-str", "ansitok"]

[dependencies]
unicode-width = "0.1.9"
bytecount = "0.6.3"
fnv = "1.0.7"
ansi-str = { version = "0.5.0", optional = true }
ansitok = { version = "0.2.0", optional = true  }

[dev-dependencies]
owo-colors = "3.4.0"

[[example]]
name = "papergrid_color"
required-features = ["std", "color"]

[[example]]
name = "color_map"
path = "examples/color_map.rs"
required-features = ["std"]

[[example]]
name = "colored_border"
path = "examples/colored_border.rs"
required-features = ["std"]

[[example]]
name = "common_grid"
path = "examples/common_grid.rs"
required-features = ["std"]

[[example]]
name = "common_grid_no_std"
path = "examples/common_grid_no_std.rs"
required-features = []

[[example]]
name = "hello_world"
path = "examples/hello_world.rs"
required-features = ["std"]
