[package]
name = "papergrid"
version = "0.4.0"
authors = ["Maxim Zhiburt <zhiburt@gmail.com>"]
edition = "2018"
description = "Papergrid is a core library to print a table"
repository = "https://github.com/zhiburt/tabled"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
color = ["strip-ansi-escapes", "ansi-str"]

[dependencies]
unicode-width = "0.1.9"
bytecount = "0.6.3"
strip-ansi-escapes = { version = "0.1.1", optional = true }
ansi-str = { version = "0.3.0", optional = true }

[dev-dependencies]
owo-colors = "3.4.0"
