[package]
name = "papergrid"
version = "0.6.0"
authors = ["Maxim Zhiburt <zhiburt@gmail.com>"]
edition = "2018"
description = "Papergrid is a core library to print a table"
repository = "https://github.com/zhiburt/tabled"
license = "MIT"

[features]
color = ["ansi-str", "ansitok"]

[dependencies]
unicode-width = "0.1.9"
bytecount = "0.6.3"
fnv = "1.0.7"
ansi-str = { version = "0.4.1", optional = true }
ansitok = { version = "0.1.1", optional = true  }

[dev-dependencies]
owo-colors = "3.4.0"
